<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
  <a href="<%=link %>">Vissza a főoldalra</a> <br><br>
  <h1>Új Macska felvétele</h1>
  <form method="post">
  <input type="number" name="suly" placeholder="Ide írd a macska súlyát"><br><br>
  <input type="text" name="szem_szin" placeholder="Ide írd a macska szinét"><br><br>
  <input type="submit" value="New cat">
</form>
</body>
</html>
